* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}
.titulo {
    font-size: 2em;
    font-weight: 600;

    color: white;
    background: lightskyblue;

    padding: 2em;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    margin-left: 2rem;
    margin-top: 2rem;
}
.form-field {
    border: none;
    border-radius: 5px;
    background-color: rgb(234, 228, 228);
    padding: .8em;
    margin-top: .5em;
}
label {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}
.form-button {
    background-color: rgb(10, 171, 10);
    color: white;
    font-weight: 600;

    border: none;
    border-radius: 5px;
    padding: 1em 1.5em;
    width: fit-content;
}